section{
    width: 800px;
    height: 160px;
    border: 3px solid black;
}

section div{
    width: 40%;
    height: 60%;
    background-color: red;
}


article{
    font-size: 20px;
}



ul{
    /* font-size: 2em; */
    font-size: 2rem;
}

section:nth-of-type(2){
    border: 2px solid black;
    background-color: lightgreen;
    height: 40vh; /* vh -> with respect to view height(viewport)*/
    width: 60vw;  /* vw -> with respect to view width(viewport)*/
}