
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    width: 150px;
    height: 150px;
    border-top: 15px solid lightblue;
    border-right: 15px solid lightsalmon;
    border-bottom: 15px solid lightgreen;
    border-left:15px solid black;
    border-radius: 50%;
    animation: 700ms linear infinite loader;
}

@keyframes loader{
    100%{
        transform: rotate(1turn);
    }
}