#container{
    width: 80vw;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "main main main sidebar"
    "main main main sidebar"
    "footer footer footer footer";
}

.item-a{
    grid-area: navbar;
}

.item-b{
    grid-area: main;
}

.item-c{
    grid-area: sidebar;
}

.item-d{
    grid-area: footer;
}

@media screen and (max-width:800px){
    #container{
        grid-template-areas: 
        "navbar navbar navbar navbar"
        "main main main main"
        "sidebar sidebar sidebar sidebar"
        "footer footer footer footer";
    }
}