:root{
    --section-ka-border:4px solid black;
    --primary-color:rgb(5, 102, 70);
    --secondary-color:rgb(227, 5, 42);
    --section-ka-background:rgb(13, 104, 45);
    --section-height:200px;
    --section-width:400px;
}




section{
    border: var(--section-ka-border);
    height: var(--section-height);
    width: var(--section-width);
    background-color: var(--section-ka-background);
}